/*                                      GLOBAL                                      */

.container{
    width: 1180px;
    margin: 0 auto;
}
.clear{clear: both;}
/*                                      /GLOBAL                                      */

/*                                      HEADER                                      */
.main-header{
    background-image: url(omrize.github.io/header.jpg);
    background-size: cover;
}
.main-header .nav{
    overflow: hidden;
    padding:40px 0;
}
.main-header .nav img{
    float: left;
}
.main-header .nav ul{
    margin-top: 0;
    list-style: none;
    float: right;
}
.main-header .nav ul li{
    display: inline;
    margin-left: 35px;
}
.main-header .nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f3f3f3;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}
.main-header .nav ul li a:hover{
    text-decoration: underline;
}
.main-header .header h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color:#fff;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.main-header .header p{
    font-family:'Montserrat', sans-serif;
    font-size:22px;
    line-height: 30px;
    color:#f3f3f3;
    margin:30px 0 10px;
}
.main-header .header p span{
    text-transform: uppercase;
    font-weight: bold;
}
.main-header .header input{
    border: none;
    border-bottom: 2px solid #bebebe;
    background-color: #ededed;
    color:#929292;
    padding: 15px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.main-header .header button{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    color:#f3f3f3;
    background-color:#f7564b;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #d0493f;
    margin-left: 20px;
}
/*                                      /HEADER                                      */

/*                                      OUR SUCCESS STORY                                      */
.our-success{
    overflow: hidden;
}
.our-success h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 60px;
}
.our-success hr{
    margin-top: 10px;
    margin-bottom: 59px;
    border: 1px solid #9a9a9a;
    width: 7%;
    float: left
}
.our-success .box{
    float: left;
    width: 32%;
    margin-right: 2%;
}
.our-success .box:last-of-type{
    margin-right: 0;
}
.our-success .box p{
    color:#999797;
    font-family:'Montserrat', sans-serif;
    font-size:20px;
    width:376px;
}
.our-success .box h3{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size:16px;
}
/*                                      /OUR SUCCESS STORY                                      */

/*                                      TESTIMONIALS                                            */

.testimonail{
    margin-top: 85px;
    background-image: url(omrize.github.io/tm_bg.jpg);
    padding-top: 135px;
    overflow: hidden;
    padding-bottom: 40px;
}
.testimonail p{
    font-family:'Myriad Pro Regular', sans-serif;
    font-size:24px;
    color: #f3f3f3;
    text-align: center;
}
.testimonail h4{
    font-family:'Myriad Pro Regular', sans-serif;
    font-size:24px;
    color: #f3f3f3;
    text-align: center;
    font-weight:600;
}
.testimonail h4 span{
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 80px;
}
.testimonail .pagination{
    margin:0 565px;
    overflow: hidden;
}
.testimonail .pagination div{
    width:10px;
    height:10px;
    background-color:#aca6a1;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.testimonail .pagination div:last-of-type{
    margin-right:0;
}
.testimonail .pagination div:first-of-type{
    background-color:#fff;
}
/*                                      TESTIMONIALS                                            */

/*                                      FOOTER                                                  */
.footer{
    overflow: hidden;
    padding-top:48px;
}
.footer h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color:#666666;
}
.footer form{
    float: left;
    width:385px;
    padding-top: 20px;
}
.footer form h3{
   font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase; 
    color:#555555;
}
.footer input{
    border: none;
    background-color: #ededed;
    color:#929292;
    padding: 15px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 20px;
}
.footer input:nth-of-type(2){
    margin-right: 0;
}
.footer input:nth-of-type(3){
    margin-right: 0;
    width: 355px;
    margin: 20px 0;
    height: 100px;
}
.footer input:last-of-type{
    background-color:#f7564b;
    color:#ecf0f1;
}
.footer .details{
    float: right;
    text-align: right;
    padding-top: 20px;
}
.footer .details h3{
    font-family: 'Montserrat', sans-serif;
    color:#555555;
    font-size: 24px;
    text-transform: uppercase; 
}
.footer .details p{
    text-transform: uppercase;
    color:#888888;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.footer .copyrights{
    background-color: #333333;
    overflow: hidden;
    margin-top: 83px;
    padding: 12px 0;
}
.footer .copyrights h3{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color:#f3f3f3;
}
.footer .copyrights h3 span{
    text-transform: uppercase;
}
.footer .copyrights .left{
    float: left;
}
.footer .copyrights .right{
    float: right;
}
/*                                      FOOTER                                                  */




/* PORTFOLIO */
.porfolio{
    padding-top:50px;
}
.porfolio h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin: 50px;
}
